<div class = "flew-column">
  <div class = "flex-row">



      <div *ngFor="let Page of pages" (click)="onSelect(Page)"
      [class.selected]="Page === selectedPage"
      (click)="onSelect(Page)">
      
              <div class="underlined-heading-wrapper">
                <span class="underlined-heading"> <span [class.selected]="Page === selectedPage">{{Page.name}}</span></span>

              </div>
      </div>

  </div>
<div class = "flex-row">
  <div *ngIf="selectedPage">

      <app-songwriting-home-page *ngIf="selectedPage.name === 'Background'"></app-songwriting-home-page>
      <app-songwriting-askevington *ngIf="selectedPage.name === 'Aske Vington'"></app-songwriting-askevington>
      <app-songwriting-redasruby *ngIf="selectedPage.name === 'Red As Ruby'"></app-songwriting-redasruby>
    
    </div>
    

<div *ngIf="!selectedPage">
  <app-songwriting-home-page></app-songwriting-home-page>

</div>

</div>




