<div class = "flew-column">
     <div class = "flex-row">
   
   
   
         <div *ngFor="let Page of pages" (click)="onSelect(Page)"
         [class.selected]="Page === selectedPage"
         (click)="onSelect(Page)">
         
                 <div class="underlined-heading-wrapper">
                   <span class="underlined-heading"> <span [class.selected]="Page === selectedPage">{{Page.name}}</span></span>
   
                 </div>
         </div>
   
     </div>
   <div class = "flex-row">
     <div *ngIf="selectedPage">
          <div>
          
               <app-pricing *ngIf="selectedPage.name === 'Pricing'"></app-pricing>
               <app-piano-accompaniment-home *ngIf="selectedPage.name === 'Home'"></app-piano-accompaniment-home>
          
          </div>
          </div>
        
           
     <div *ngIf="!selectedPage">
          <app-piano-accompaniment-home></app-piano-accompaniment-home>
     
   </div>