table {
    border-collapse: collapse;
    text-align: center;
    width: 100%
    
  }
  
table td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black
  }
    
table th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black

  }

  @font-face {
    font-family: "BerlinSans";
    src: url("./../../assets/Fonts/BRLNSR.TTF");
    font-style: normal;
    font-weight: 600
  }
  div.BerlinSans{
    font-family: "BerlinSans";
  }