<div class = "fullwidth"> 
<h1 class = "header">{{title}}</h1>
</div>

<div class = "fullwidth">
<table class="selection">
  <tr>
  <th *ngFor="let Page of pages" (click)="onSelect(Page)"
      [class.selected]="Page === selectedPage"
      (click)="onSelect(Page)">
    <span [class.selected]="Page === selectedPage">{{Page.name}}</span>
    <th>
</tr>
</table>
</div>
<div *ngIf="selectedPage">
<div class = "MainBody">

  <app-home-page *ngIf="selectedPage.name === 'Home Page'"></app-home-page>
  <app-instrumental-lessons *ngIf="selectedPage.name === 'Instrumental Lessons'"></app-instrumental-lessons>
  <app-songwriting *ngIf="selectedPage.name === 'Songwriting'"></app-songwriting>
  <app-piano-accompaniment *ngIf="selectedPage.name === 'Piano Accompaniments'"></app-piano-accompaniment>



</div>
</div>
