div.body{
  position: fixed;
  padding:0;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#d4af37 0%,rgb(194, 60, 60) 50%,grey 100%);
  overflow: auto

}
/* colour for later #dccf39*/

div.selection{
      width:100%;
      text-align: center;
      color:black ;
      font-size: 15%;
      padding: 1.5%;
      margin: 0px;
      position: relative;
      left: 0%;
      bottom: 100%;
      background-color: white;
      
      }
    
h1.header{
    background-color: white;
    padding: 1.5%;
    margin: 0px;
    text-align: center;
    position: relative;
    left: 0%;
    bottom: 100%;
    }
    
h1{
    border: 0px ;
    text-align: center ;
    color:black ;
    font-size: 40px;
    font-family: "Lovelo"

    }


body {
     background-color: white;
     width: 100%;
     height: 100%;
     font-weight: 400;
     line-height: 0px;
     }


div.MainBody{
  width: 100%;
  background-color:transparent;
  padding: 0%;
  margin: 0px;
  text-align: center;
  font-family: "Lovelo";
    }
div{
  font-family: "Lovelo";
  border-collapse: separate;
  border-spacing:50px 0px
  
}




@font-face {
  font-family: "Lovelo";
  src: url("../assets/Fonts/lovelo_black-webfont.woff2") format("woff2");
  font-style: normal;
  font-weight: 600
}

@font-face {
  font-family: "BerlinSans";
  src: url("../assets/Fonts/BRLNSR.TTF");
  font-style: normal;
  font-weight: 600
}
div.Euclid{
  font-family: "BerlinSans";
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 2.5%
  
}
.flex-rowmenu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  padding-bottom:0%;
  align-self: center
}


.flex-column{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  
}
div.flex-rowmain {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
}

div.flex-columnleft{
  display: flex;
  flex-basis: 15%;
  justify-content: left;
  padding: 0.5%
  
}

div.flex-columnmiddle{
  display: flex;
  justify-content: center;
  flex-basis: 70%;

}

div.flex-columnmiddlemain{
  display: flex;
  justify-content: center;
  flex-basis: 100%;

}

div.flex-columnright{
  display: flex;
  flex-basis: 15%;
  justify-content: right;
  align-items: right;
  padding: 0.5%
}

div.flex-columntopleft{
  display: flex;
  flex-basis: 15%;
  justify-content: center;
  padding: 0.5%
  
}

div.flex-columntopmiddle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 90%;
  padding: 2%;
  padding-left: 7%;
  padding-right:7%;
}

div.flex-columntopright{
  display: flex;
  flex-basis: 10%;
  justify-content: right;
  padding-left: 0%;
}
div.flex-rowbottom{
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  bottom: -20%;
  
  align-items: center;
  justify-content: space-around;
  padding-top: 1%;
  padding-bottom:0%;
  align-self: center
}
div.flex-columnbottommain{
  display: flex;
  flex-basis: 70%;
  justify-content: center;
  padding: 0.5%;
}


div.flexcolumnbottomenu{

}
div.flex-columnbottomleft{
  display: flex;
  flex-basis: 15%;
  justify-content: left;
  padding: 0.5%;
}

div.flex-columnbottomright{
  display: flex;
  flex-basis: 15%;
  justify-content: right;
  padding: 0.5%;
}


span.selected {
 border-bottom: 2px solid black;
}


.underlined-heading-wrapper {
  display: inline-block;
}

.underlined-heading {
	position: relative;
	color:black;
	text-decoration: none;
	font-size: 1vw;
  display:inline-block;
}

.underlined-heading:hover {
	color:black;
}

.underlined-heading:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
  
  bottom: 0;
	left: 0;
	background-color:black;
  visibility: hidden;

  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
}

.underlined-heading:hover:before,
.post-preview:hover .underlined-heading:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
}
h2{
  font-size: 1vw;
}


div.sociallink{
  padding:3px
}

a.bottommenulink{
  color: black;
  text-decoration: none;
  font-size: 0.9vw;

}

div.copyright{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: right;
  font-size: 0.8vw;
  color: darkgray;  
  font-family: "Berlin-sans";
}