<div class = fullwidth>
<div class = "flex-column">
<div class = "flex-row">
  <div *ngIf="selectedPage">
    <div>
    
      <app-testimonials style="width:100%" *ngIf="selectedPage.name === 'Testimonials'"></app-testimonials>
      <app-instrumental-lessons-home *ngIf="selectedPage.name === 'My Teaching'"></app-instrumental-lessons-home>
    
    </div>
    </div>
    

<div *ngIf="!selectedPage">
  <app-instrumental-lessons-home></app-instrumental-lessons-home>

</div>

</div>
</div>



<div class = "flex-row2">
    <div *ngFor="let Page of pages" (click)="onSelect(Page)"
    [class.selected]="Page === selectedPage"
    (click)="onSelect(Page)">
    
            <div class="underlined-heading-wrapper">
              <span class="underlined-heading"> <span [class.selected]="Page === selectedPage">{{Page.display}}</span></span>

            </div>
    </div>

</div>
</div>



